*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
#pagina1{
    height: 90vh;
    width: 100%;
    background-image: url(assets/banner-2.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
   
}
header{
    background-color: rgba(15, 15, 15, 0.568);
    padding: 0 7%;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
header a{
    color:white;
    text-decoration: none;

}
#barra {
    width: 70%; 
    display: flex;
    justify-content: space-between;
}

#barra ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 70%;
}
#principal{
    margin-top: 10%;
    text-align: center;
}
#principal h2{
    color: white;
    font-size: 60px;
}
#principal p{
    color: white;
    font-size: 16px;
    margin-bottom: 2%;
}
.btn a{
    background-color: rgb(255, 255, 255);
    padding: 0.5% 2%;
    line-height: 6vh;
    text-decoration: none;
    color: black;
}
.btn a:hover{
    background-color: #fcdc00;
    transition: 0.5s;
}
#pagina2{
    display: flex;
    flex-direction: column;
    width: 100%;
 
}
#area{
    display: flex;
    justify-content: center;
    margin-top: 4%;

  
}
#socialLife{
    background-image: url(assets/cat-post-3.jpg);
    background-size: cover;
    width: 20%;
    height: 25vh;
    margin-right: 2%;

}
#politics{
    background-image: url(assets/cat-post-2.jpg);
    background-size: cover;
    width: 20%;
    height: 25vh;
    margin-right: 2%;
}
#food{
    background-image: url(assets/cat-post-1.jpg.webp);
    background-size: cover;
    width: 20%;
    height: 25vh;
}
.texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 4%;
    background: rgba(34, 34, 34, 0.8);
    height: 19vh;
    width: 90%;
    padding: 3%;
    margin-top: 5%;
}
.texto a{
    text-decoration: none;
}
.texto a h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
}
.texto p{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}
.linha{
    background: #fff;
    width: 102%;
    height: 1px;
}
.texto:hover{
    background-color: #fcda006c;
}
.centro{
    margin-top: 15%;
}
.btns{
    padding-top: 30%;
    margin-bottom: 7%;
}
.btns a{
    text-decoration: none;
    color: black;
    font-size: 14px;
 
}
.btns span a{
    color: #fcdc00;
}


ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.info{
    color: #777777;
    vertical-align: middle;

    
}

.i{
    padding-left: 1%;
    line-height: 15px;
}
.info p:hover{
    color: #fcdc00;
    transition: 0.3s;
}
h2{
    font-size: 24px;
    color: black;
    font-weight: 600;
}
#blogArea{
  
    width: 100%;
    display: flex;
    justify-content: center;
}
#esquerda{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 5%;

}
.junto{
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}
.imagensFinal {
    width: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background-color: #f9f9ff;
    margin: auto;
    overflow: hidden;

}

.imagensFinal img {
    width: 100%;
    height: 100%;
    transition: 0.3s;

}

.divImagensFinal {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.imagensFinal img:hover {
    transform: scale(1.05);
}
.bntPadrao{
    height: 6vh;
    width: 20%;
    line-height: 6vh;
    background-color: #fcdc00;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 8%;
}



.informacoes {
    width: 18%;
    margin-top: 2%;
    padding: 1%;
    height: 250vh;
    border: 1px solid rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacoes h1 {
    font-size: 18px;
    color: white;
    width: 100%;
    text-align: center;
    background-color: #fcdc00;
    height: 4.5vh;
    line-height: 2.3;
    font-weight: 600;
    margin-bottom: 8%;
}



.inputBlog {
    background-color: #fcdc00;
    width: 100%;
    height: 4vh;
    border-radius: 43px;
    border: none;
    outline: none;
    padding-left: 6%;
    font-weight: 300;
    font-size: 14px;
    color: #5b5b5b;
    margin-bottom: 4%;
}

.separador {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    margin-top: 4%;
    margin-bottom: 8%;
    height: 2vh;
}




.divDono {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.divDono h2 {
    font-size: 18px;
    color: black;
    margin-top: 16%;
    font-weight: 600;
}

.divDono h4 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 300;
    margin-bottom: 2%;
    line-height: 1.8;
}

.divDono > div {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 4%;
}

.popularPosts {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 6%;
}

.popularPosts img {
    margin-right: 7%;
}

.popularTexto h2 {
    font-size: 14px;
}

.popularTexto h4 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 300;
    line-height: 1.7;
    margin-top: 2%;
}

.imagemNada {
    width: 100%;
}

.textoRiscado {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px dotted rgba(199, 199, 199, 0.39);
    padding-bottom: 3%;
    margin-bottom: 6%;
}

.textoRiscado h4 {
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 400;
}


.newsletter {
    text-align: center;
}

.newsletter h4 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    margin-bottom: 2%;
}

.newsletter h5{
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);

}

.inputDiretaBlog {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 4%;
}

.inputDiretaBlog > input {
    height: 40px;
    width: 65%;
    font-size: 12px;
    padding-left: 12%;
    border: none;
    outline: none;
    color: black;
}

.inputDiretaBlog > button {
    font-weight: 500;
    height: 40px;
    width: 35%;
    font-size: 12px;
    background-color: #fcdc00;
    text-transform: none;
    color: #ffffff;
    border: none;
    cursor: pointer;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
}

.inputDiretaBlog i {
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 4%;
}

.botaoTag {
    background-color: #ffffff;
    height: 3vh;
    border: 1px solid rgba(0, 0, 0, 0.07);
    line-height: 2.3;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.78);
    text-decoration: none;
    font-weight: 300;
    padding: 0 4%;
    margin-right: 2%;
    margin-bottom: 2.5%;
}







.direita {
    display: flex;
    flex-direction: column;
    width: 74%;
}

.direita img {
    width: 100%;
}

.direita h1{
    font-weight: 600;
    color: black;
    margin-top: 5%;
    font-size: 20px;
}

.direita h4 {
    color: rgba(0, 0, 0, 0.54);
    margin-top: 1%;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 4%;
}


.botaoBlog {
    background-color: white;
    width: 25%;
    font-size: 14px;
    height: 4.5vh;
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 7%;

}

input{
    margin-top: 3%;
    height: 40px;
    width: 80%;
    border: none;
    padding: 0px 15px;
    font-size: 14px;
    color: #cccccc;
    font-weight: 300;
}


footer{
    display: flex;
    justify-content: space-around;
    background-color: #04091e;
    color: white;
    height: 40vh;
    width: 100%;
    align-items: center;
    padding: 0 10%;
}
#aboutMe h3{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2%;
}
#aboutMe p{
    padding-top: 4%;
    font-size: 14px;
    color: #777777;
}
#aboutMe span{
    color: #fcda00;
}
#newsLetter{
    width: 40%;
}
#newsLetter h3{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3%;
}
#newsLetter p{
    padding-top: 4%;
    font-size: 14px;
    color: #777777;
}
#newsLetter>div svg{
    margin-left: -1%;
    margin-top: 3%;
    width: 42px;
    height: 40px;
    background-color: #fcda00;
}

#newsLetter>div{
    display: flex;
    flex-direction: row;
}
#followMe h3{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5%;
}
#followMe p{
    padding-top: 4%;
    font-size: 14px;
    color: #777777;
}
#redesSocial{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}